SFTP_HOST=transfer.enercast.de
SFTP_PORT=22
SFTP_USERNAME=vedanjay
SFTP_PASSWORD=replace_me
SFTP_REMOTE_DIR=/incoming/powerdata_realtime/SIRMOUR/
SFTP_LOCAL_DIR=daily_actuals_inbox
S3_BUCKET=ai-forecasting-storage-429694361053
S3_PREFIX_BASE=raw/vedanjay/SIRMOUR
